  <div id="footer">
    <div id="footer-content">
      <div class="soc-media">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-google-plus-g"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
      </div>
      <div id="copyright-address">
        <p>&copy;2018 JMan. All Rights Reserved.</p>
        <p>777 Keira ln, Memphis, TN, 17171</p>
      </div>
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>
