  <div id="cta">
    <div id="cta-content" class="container">
      <p id="cta-title">Contact us now</p>
      <form id="cta-form" action="/api/contact" method="post">
        <div>
          <input type="text" class="input-box" name="name" placeholder="Full Name*" required>
        </div>
        <div>
          <textarea name="msg" class="input-box" id="" cols="30" rows="10" placeholder="Type message here...*" required></textarea>
        </div>
        <div>
          <input type="email" class="input-box" name="email" placeholder="Email Address*" required>
        </div>
        <div>
          <input type="text" class="input-box" name="phone_number" placeholder="Phone Number">
        </div>
        <div id="cta-best-time">
          <label for="best_time" class="label">Best time to reach you: </label>
          <select name="best_time" class="input-box-small" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="early morning">Early Morning (6am - 8am)</option>
            <option value="morning">Morning (8am - 12pm)</option>
            <option value="noon">Noon (12pm - 3pm)</option>
            <option value="afternoon">Afternoon (3pm - 6pm)</option>
            <option value="night">Night (6pm - 9pm)</option>
          </select>
        </div>
        <div id="cta-source">
          <label for="source" class="label">How did you hear about us: </label>
          <input type="text" class="input-box-small" name="source" placeholder="Source*" required>
        </div>
        <div>
          <input type="submit" id="cta-btn" class="btn">
        </div>
      </form>
    </div>
  </div>
  <div id="footer">
    <div id="footer-content" class="container">
      <div class="soc-media">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <!-- <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-google-plus-g"></i></a> -->
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
      </div>
      <div id="copyright-address">
        <p>&copy;2018 JMan. All Rights Reserved.</p>
        <p>777 Keira ln, Memphis, TN, 17171</p>
      </div>
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>
