<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JMan's Site</title>
  <link rel="preload" href="/styles.css" as="style" onload="this.rel='stylesheet'">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway" as="style" onload="this.rel='stylesheet'">
  <link rel="preload" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" as="style" onload="this.rel='stylesheet'" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous" defer></script>
  <script>
    (function(w){
      "use strict";
      // rel=preload support test
      if (!w.loadCSS){
        w.loadCSS = function(){};
      }
      // define on the loadCSS obj
      var rp = loadCSS.relpreload = {};
      // rel=preload feature support test
      // runs once and returns a function for compat purposes
      rp.support = (function(){
        var ret;
        try {
          ret = w.document.createElement( "link" ).relList.supports( "preload" );
        } catch (e) {
          ret = false;
        }
        return function(){
          return ret;
        };
      })();
      // if preload isn't supported, get an asynchronous load by using a non-matching media attribute
      // then change that media back to its intended value on load
      rp.bindMediaToggle = function(link){
        // remember existing media attr for ultimate state, or default to 'all'
        var finalMedia = link.media || "all";
        function enableStylesheet(){
          link.media = finalMedia;
        }
        // bind load handlers to enable media
        if( link.addEventListener ){
          link.addEventListener( "load", enableStylesheet );
        } else if( link.attachEvent ){
          link.attachEvent( "onload", enableStylesheet );
        }
        // Set rel and non-applicable media type to start an async request
        // note: timeout allows this to happen async to let rendering continue in IE
        setTimeout(function(){
          link.rel = "stylesheet";
          link.media = "only x";
        });
        // also enable media after 3 seconds,
        // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
        setTimeout( enableStylesheet, 3000 );
      };
      // loop through link elements in DOM
      rp.poly = function(){
        // double check this to prevent external calls from running
        if( rp.support() ){
          return;
        }
        var links = w.document.getElementsByTagName( "link" );
        for( var i = 0; i < links.length; i++ ){
          var link = links[ i ];
          // qualify links to those with rel=preload and as=style attrs
          if( link.rel === "preload" && link.getAttribute( "as" ) === "style" && !link.getAttribute( "data-loadcss" ) ){
            // prevent rerunning on link
            link.setAttribute( "data-loadcss", true );
            // bind listeners to toggle media back
            rp.bindMediaToggle( link );
          }
        }
      };
      // if unsupported, run the polyfill
      if(!rp.support()){
        // run once at least
        rp.poly();
        // rerun poly on an interval until onload
        var run = w.setInterval( rp.poly, 500 );
        if( w.addEventListener ){
          w.addEventListener( "load", function(){
            rp.poly();
            w.clearInterval( run );
          } );
        } else if( w.attachEvent ){
          w.attachEvent( "onload", function(){
            rp.poly();
            w.clearInterval( run );
          } );
        }
      }
      // commonjs
      if( typeof exports !== "undefined" ){
        exports.loadCSS = loadCSS;
      }
      else {
        w.loadCSS = loadCSS;
      }
    }(typeof global !== "undefined" ? global : this));
  </script>
  <noscript>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </noscript>
  <style>
    body {
      font-family: 'Raleway', sans-serif;
      margin: 0;
      background: linear-gradient(to bottom right, #33ccff 0%, #99e6ff 100%);  /* #007399 */
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      max-width: 80%;
      margin: auto;
    }

    .contact-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 1rem 3rem 2rem 0;
    }

    #phone {
      color: #f2f2f2;
      padding-right: 1rem;
    }

    #create-last-updated {
      display: none;
    }

    .soc-media {
      display: flex;
      justify-content: space-around;
      max-width: 350px;
    }

    .soc-media i {
      color: #f2f2f2;
      padding: 0.7rem;
      margin: 0.5rem;
      border-radius: 5px;
    }

    .nav-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .nav-bar ul {
      display: flex;
      padding: 0;
    }

    .nav-bar li {
      list-style: none;
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .nav-link {
      position: relative;
      color: #f2f2f2;
      text-decoration: none;
    }

    .nav-link:hover {
      color: #f2f2f2;
    }

    #intro-vid {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      padding: 3rem;
    }

    #intro-vid-content {
      position: relative;
      text-align: center;
    }

    #vid {
      width: 800px;
      height: 450px;
    }

    #head-title {
      font-size: 3em;
      text-align: center;
      color: #fff;
    }

    .slide {
      min-height: 500px;
      display: mone;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: none;
    }

    .slide-text {
      min-height: 500px;
      font-size: 1.5em;
      text-align: center;
      color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #slide-1 {
      background-image: linear-gradient(rgba(0, 115, 153, 0.7), rgba(0, 115, 153, 0.7)), url("https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-position: center;
      background-color: #007399;
    }

    #blog-title-content {
      text-align: center;
    }

    #blog-title {
      background: linear-gradient(rgba(153, 230, 255, 0.5), rgba(153, 230, 255, 0.5)), url("https://images.pexels.com/photos/261579/pexels-photo-261579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center fixed;
      min-height: 400px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #login-content {
      text-align: center;
      margin: 8rem 0;
    }

    #login-title {
      font-size: 2em;
      color: #fff;
    }

    .login-field {
      margin-bottom: 1rem;
    }

    #login-btn {
      margin-top: 2rem;
    }

    .post-title {
      text-align: center;
      font-size: 2em;
      color: #fff;
    }

    .date {
      margin-bottom: 1rem;
      color: #fff;
    }
  </style>
</head>
<body>
  <header>
    <div class="contact-links">
      <p id="phone"><i class="fas fa-phone-volume"></i> (901) 295-8519</p>
      <div class="soc-media">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <!-- <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-google-plus-g"></i></a> -->
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
      </div>
    </div>
    <nav class="nav-section">
      <a href="/"><img src="" alt="LOGO" width="0" height="0"></a>
      <div class="nav-bar">
        <ul>
          <li>
            <a class="nav-link" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link" href="/services">Services</a>
          </li>
          <!-- <li>
            <a class="nav-link" href="/work">Our Work</a>
          </li> -->
          <li>
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <!-- <li>
            <a class="nav-link" href="/contact">Contact Us</a>
          </li> -->
          <li>
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <form id="search-section" action="">
          <i class="fas fa-search"></i>
          <span id="search-input">
            <input id="input-box" type="text">
            <input id="submit-btn" type="submit" value="Search">
          </span>
        </form>
      </div> -->
    </nav>
  </header>
