body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.soc-media {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.nav-section {
  display: flex;
  justify-content: space-around;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style: none;
  padding-right: 2rem;
}

.nav-link {
  position: relative;
  color: darkgray;
  text-decoration: none;
}

.nav-link:hover {
  color: darkgray;
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkgray;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#body-1a {
  height: 500px;
  background-color: yellow;
}

#body-2a {
  height: 300px;
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#body-2aa {
  height: 100px;
  background-color: blue;
}

#body-2ab {
  height: 100px;
  background-color: green;
}

#body-3a {
  height: 300px;
  background-color: red;
}
