<% include partials/header %>
<div class="contact-content">
  <div class="contact-title">
    <p>Contact Me</p>
  </div>
  <div id="cg1" class="contact-group">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ducimus architecto numquam asperiores illum rem officiis commodi distinctio, molestiae nam expedita cum veniam, error amet vel blanditiis debitis impedit? Cupiditate natus magni laboriosam facilis veritatis quam nam dicta nemo quaerat accusamus, impedit, atque assumenda. Repellat exercitationem atque officiis architecto incidunt?</p>
  </div>
  <div id="cg2" class="contact-group">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ducimus architecto numquam asperiores illum rem officiis commodi distinctio, molestiae nam expedita cum veniam, error amet vel blanditiis debitis impedit? Cupiditate natus magni laboriosam facilis veritatis quam nam dicta nemo quaerat accusamus, impedit, atque assumenda. Repellat exercitationem atque officiis architecto incidunt?</p>
  </div>
</div>
<% include partials/footer %>
