<% include partials/header %>
<section id="body">
  <p id="head-title">Need-Leads Marketing Agency</p>
  <div id="intro-vid">
    <div id="intro-vid-content" class="container">
      <!-- <i class="fas fa-broadcast-tower"></i> -->
      <!-- <p id="vid-description"></p> -->
      <iframe id="vid" src="https://www.youtube.com/embed/9ifIQ3OSGIY?autoplay=0" frameborder="0"></iframe>
    </div>
  </div>
  <div id="about-us">
    <div id="about-us-content" class="container">
      <h1>About Us</h1>
      <p>We're a collaborative team of professionals that can improve the renown of any business. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid cupiditate facilis maiores consectetur adipisci quidem vel. Voluptatem nobis sed ut, exercitationem blanditiis quidem eligendi praesentium nostrum, quasi, tempora, temporibus! Aspernatur, facilis! Repellat culpa incidunt, quaerat veniam voluptas accusantium voluptatum, labore id, nobis ipsam quae ipsa. Modi molestiae cumque fugit repudiandae rem minima natus dolore impedit ex quisquam quidem aspernatur neque culpa et atque porro recusandae, aliquam ipsa! Sint asperiores hic expedita cupiditate reprehenderit iusto, quos consequuntur cum, repellat voluptate perspiciatis maxime at est qui porro, adipisci nulla earum libero quidem, impedit id perferendis mollitia inventore. Impedit corrupti aut dolore temporibus voluptate aliquid illum nam ratione dolorem, totam id natus ducimus velit aperiam, amet harum maiores cupiditate non adipisci veniam doloremque laborum omnis a placeat! Cumque nulla nesciunt nobis beatae dolorem, dolore? Tempora id aliquid cumque laborum accusamus illo assumenda, sunt! Perferendis eius assumenda omnis quo recusandae eos tempore deserunt.</p>
    </div>
  </div>
  <div id="body-3">
    <div id="body-3-content" class="container">
      <div class="sub-body-3">
        <p class="sub-body-3-title">How does social media affect your business.</p>
        <p>Every business is different there is no one size fits all business strategies. Social media strategies are implemented  based on every individual business needs.</p>
      </div>
      <div class="sub-body-3">
        <p class="sub-body-3-title">How does it do it.</p>
        <p>We look at your customers and potential customers. We see how they search for your product or service and focus on diverting traffic into paying customers. We simply find the people who are looking for your product and put you right in front of them.</p>
      </div>
    </div>
  </div>
</section>
<script src="/index.js"></script>
<% include partials/footer %>

<!-- Color Scheme: #fff #ccf #33ccff #99e6ff #007399 -->
