<% include partials/header %>
<section id="body">
  <p id="head-title">Need-Leads Marketing Agency</p>
  <div id="intro-vid">
    <div id="intro-vid-content" class="container">
      <!-- <i class="fas fa-broadcast-tower"></i> -->
      <!-- <p id="vid-description"></p> -->
      <iframe id="vid" src="https://www.youtube.com/embed/9ifIQ3OSGIY?autoplay=0" frameborder="0"></iframe>
    </div>
  </div>
  <div id="about-us">
    <div id="about-us-content" class="container">
      <h1>About Us</h1>
      <p>We want to listen to you, to your story. Your first day open. The hardest day and the best day. We're not the only ones your journey speaks volumes, and your customers want to listen. Online marketing provides a platform to tell your story and show the people behind the business. It also allows you to listen to the customers and connect with them, building strong loyalty. From social marketing, to website design,  </p>
    </div>
  </div>
  <div id="body-3">
    <div id="body-3-content" class="container">
      <div id="soc-art">
        <i id="soc-1" class="fab fa-facebook-f"></i>
        <i id="soc-2" class="fab fa-twitter"></i>
        <i id="soc-3" class="fab fa-google-plus-g"></i>
        <i id="soc-4" class="fab fa-linkedin-in"></i>
        <i id="soc-5" class="fab fa-instagram"></i>
        <i id="soc-6" class="far fa-envelope"></i>
        <i id="soc-7" class="fab fa-facebook-f"></i>
        <i id="soc-8" class="fab fa-twitter"></i>
        <i id="soc-9" class="fab fa-google-plus-g"></i>
        <i id="soc-10" class="fab fa-linkedin-in"></i>
        <i id="soc-11" class="fab fa-instagram"></i>
        <i id="soc-12" class="far fa-envelope"></i>
      </div>
      <div class="sub-body-3">
        <p class="sub-body-3-title">How does social media affect your business.</p>
        <p>Every business is different there is no one size fits all business strategies. Social media strategies are implemented  based on every individual business needs.</p>
      </div>
      <div class="sub-body-3">
        <p class="sub-body-3-title">How does it do it.</p>
        <p>We look at your customers and potential customers. We see how they search for your product or service and focus on diverting traffic into paying customers. We simply find the people who are looking for your product and put you right in front of them.</p>
      </div>
    </div>
  </div>
</section>
<script src="/index.js" defer></script>
<% include partials/footer %>

<!-- Color Scheme: #fff #ccf #33ccff #99e6ff #007399 -->
