<% include partials/header %>
<section id="body">
  <p id="head-title">Need-Leads Marketing Agency</p>
  <div id="intro-vid">
    <div id="intro-vid-content" class="container">
      <!-- <i class="fas fa-broadcast-tower"></i> -->
      <!-- <p id="vid-description"></p> -->
      <iframe id="vid" src="https://www.youtube.com/embed/9ifIQ3OSGIY?autoplay=0" frameborder="0" width="800" height="450"></iframe>
    </div>
  </div>
  <div id="about-us">
    <div id="about-us-content" class="container">
      <h1>About Us</h1>
      <p>We're a collaborative team of professionals that can improve the renown of any business.</p>
    </div>
  </div>
  <div id="body-3">
    <div id="body-3-content" class="container">
      <div class="sub-body-3">
        <p>How does social media affect your business.</p>
        <p>Every business is different there is no one size fits all business strategies. Social media strategies are implemented  based on every individual business needs.</p>
      </div>
      <div class="sub-body-3">
        <p>How does it do it.</p>
        <p>We look at your customers and potential customers. We see how they search for your product or service and focus on diverting traffic into paying customers. We simply find the people who are looking for your product and put you right in front of them.</p>
      </div>
    </div>
  </div>
  <div id="body-4">
    <div id="body-4-content" class="container">
      <div class="sub-body-4" id="body-4-1">
        <i class="far fa-address-card body-4-fa"></i>
        <p>Brand Management</p>
        <p>Humanize your business by producing interesting and consistent content. Build a brand marketing plan to attract customers.</p>
      </div>
      <div class="sub-body-4" id="body-4-2">
        <i class="far fa-comments body-4-fa"></i>
        <p>Manage Social media</p>
        <p>Starting with an existing or new Facebook we will begin to find your target market. Using trackable data we can divert customers looking for you to your content.</p>
      </div>
      <div class="sub-body-4" id="body-4-3">
        <i class="fas fa-mouse-pointer body-4-fa"></i>
        <p>PPC</p>
        <p>Google has an excellent ad system that helps consumers find your business by what they search for. Facebook however has mastered the art of marketing. By using Facebook Pixels you can communicate constantly with your customer base.</p>
      </div>
      <div class="sub-body-4" id="body-4-4">
        <i class="far fa-window-maximize body-4-fa"></i>
        <p>Website Optimization</p>
        <p>Work with website designers to craft a attractive and compelling website that turns visitors into customers.</p>
      </div>
      <div class="sub-body-4" id="body-4-5">
        <i class="far fa-envelope body-4-fa"></i>
        <p>Email lead generation</p>
        <p>Develop a network of potential clients emails by on site promotionals for subscription to email newsletter. Using the email newsletter we can bring customers back for a sale.</p>
      </div>
    </div>
  </div>
</section>
<script src="/index.js"></script>
<% include partials/footer %>

<!-- Color Scheme: #fff #ccf #33ccff #99e6ff #007399 -->
