<% include partials/header %>
<div id="login-content">
  <p id="login-title">Log In</p>
  <form action="/api/login" method="POST">
    <div class="login-field">
      <input type="text" class="input-box" name="username" placeholder="Username...*">
    </div>
    <div class="login-field">
      <input type="password" class="input-box" name="password" placeholder="Password...*">
    </div>
    <div>
      <input type="submit" id="login-btn" class="btn" value="Log In">
    </div>
  </form>
</div>
<% include partials/footer %>
