<% include partials/header %>
<div class="services-content">
  <div id="slideshow">
    <div class="slideshow-container">
      <div id="slide-1" class="slide">
        <div class="slide-text">
          <p>Guaranteed to make your business stand out in any market</p>
        </div>
      </div>
      <div id="slide-2" class="slide">
        <div class="slide-text">
          <p>My formula is what the industry leaders are doing to grow their business</p>
        </div>
      </div>
      <div id="slide-3" class="slide">
        <div class="slide-text">
          <p>Get the best SEO scores for your websites</p>
        </div>
      </div>
    </div>
    <div class="slideshow-dots">
      <span class="dot" id="0"></span>
      <span class="dot" id="1"></span>
      <span class="dot" id="2"></span>
    </div>
  </div>
  <div id="body-4">
    <div id="body-4-content" class="container">
      <div class="sub-body-4" id="body-4-1">
        <i class="far fa-address-card body-4-fa"></i>
        <p class="service-title">Brand Management</p>
        <p>Humanize your business by producing interesting and consistent content. Build a brand marketing plan to attract customers.</p>
      </div>
      <div class="sub-body-4" id="body-4-2">
        <i class="far fa-comments body-4-fa"></i>
        <p class="service-title">Manage Social media</p>
        <p>Starting with an existing or new Facebook we will begin to find your target market. Using trackable data we can divert customers looking for you to your content.</p>
      </div>
      <%# <div class="sub-body-4" id="body-4-3">
        <i class="fas fa-mouse-pointer body-4-fa"></i>
        <p class="service-title">PPC</p>
        <p>Google has an excellent ad system that helps consumers find your business by what they search for. Facebook however has mastered the art of marketing. By using Facebook Pixels you can communicate constantly with your customer base.</p>
      </div> %>
      <div class="sub-body-4" id="body-4-4">
        <i class="far fa-window-maximize body-4-fa"></i>
        <p class="service-title">Website Optimization</p>
        <p>Work with website designers to craft a attractive and compelling website that turns visitors into customers.</p>
      </div>
      <div class="sub-body-4" id="body-4-5">
        <i class="far fa-envelope body-4-fa"></i>
        <p class="service-title">Email lead generation</p>
        <p>Develop a network of potential clients emails by on site promotionals for subscription to email newsletter. Using the email newsletter we can bring customers back for a sale.</p>
      </div>
    </div>
  </div>
</div>
<script src="/services.js" defer></script>
<% include partials/footer %>
