<% include partials/header %>
<div class="services-content">
  <div class="services-title">
    <p>These are our services</p>
  </div>
  <div class="services-group-1">
    <div class="service">
      <i class="fas fa-mouse-pointer"></i>
      <p>SEO Optimization</p>
    </div>
    <div class="service">
      <i class="fas fa-mouse-pointer"></i>
      <p>Google Ads</p>
    </div>
    <div class="service">
      <i class="fas fa-mouse-pointer"></i>
      <p>Google Analytics</p>
    </div>
    <div class="service">
      <i class="fas fa-mouse-pointer"></i>
      <p>Word on the Street</p>
    </div>
    <div class="service">
      <i class="fas fa-mouse-pointer"></i>
      <p>Web Design</p>
    </div>
  </div>
</div>
<% include partials/footer %>
