body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right, #33ccff 0%, #99e6ff 100%);  /* #007399 */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 80%;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
}

.input-box {
  width: 600px;
  font-size: 1.2em;
  border: 3px #33ccff solid;
  border-radius: 7px;
  padding: 0.5rem;
}

.input-box:focus {
  border: 3px #007399 solid;
  border-radius: 7px;
  outline: none;
}

.input-box-small {
  font-size: 1.2em;
  border: 3px #33ccff solid;
  border-radius: 7px;
  padding: 0.5rem;
}

.input-box-small:focus {
  border: 3px #007399 solid;
  border-radius: 7px;
  outline: none;
}

.btn {
  font-size: 1.5em;
  padding: 0.5rem;
  border: 1px #33ccff solid;
  border-radius: 7px;
  cursor: pointer;
  background: #007399;
  color: #fff;
}

.btn:hover {
  color: #007399;
  background: #fff;
}

/* Contact Bar ===================================*/

.contact-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 3rem 2rem 0;
}

#phone {
  color: #f2f2f2;
  padding-right: 1rem;
}

#create-last-updated {
  display: none;
}

.soc-media {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
}

.soc-media i {
  color: #f2f2f2;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 5px;
}

@keyframes facebook-hover {
  to {
    color: white;
    background: #3b5998;
  }
}

.fa-facebook-f:hover {
  animation-name: facebook-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes twitter-hover {
  to {
    color: #1da1f2;
    background: #fff;
  }
}

.fa-twitter:hover {
  animation-name: twitter-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes google-hover {
  to {
    color: white;
    background: #dd4b39;
  }
}

.fa-google-plus-g:hover {
  animation-name: google-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes linkedin-hover {
  to {
    color: white;
    background: #0077b5;
  }
}

.fa-linkedin-in:hover {
  animation-name: linkedin-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes instagram-hover {
  to {
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
}

.fa-instagram:hover {
  animation-name: instagram-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes mail-hover {
  to {
    color: white;
    background: #009933;
  }
}

.fa-envelope:hover {
  animation-name: mail-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Nav Bar ===================================*/

.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style: none;
  padding-right: 2rem;
}

.nav-link {
  position: relative;
  color: #f2f2f2;
  text-decoration: none;
}

.nav-link:hover {
  color: #f2f2f2;
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  visibility: hidden;
  /* -webkit-transform: scaleX(0); */
  transform: scaleX(0);
  /* -webkit-transition: all 0.3s ease-in-out 0s; */
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  /* -webkit-transform: scaleX(1); */
  transform: scaleX(1);
}

/* #search-section {
  width: 270px;
  display: flex;
  align-self: center;
}

.fa-search {
  cursor: pointer;
  font-size: 1.5em;
  padding-right: 5px;
  color: #f2f2f2;
}

#input-box {
  background: transparent;
  border: 0px solid;
  border-bottom: 2px solid #f2f2f2;
  height: 20px;
  width: 160px;
  color: #f2f2f2;
  font-size: 1.05em;
}

#input-box:focus {
  outline: none;
}

#submit-btn {
  border: 1px solid #f2f2f2;
  background: transparent;
  color: #f2f2f2;
  border-radius: 5px;
  font-size: 1.2em;
} */

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: #007399;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* slideshow ================================== */

.slide {
  min-height: 500px;
  display: none;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}

.slide-text {
  text-align: center;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-dots {
  margin-top: 1rem;
  text-align: center;
}

#slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  transition: opacity 1s;
}

#slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  transition: opacity 1s;
}

#slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  transition: opacity 1s;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #007399;
}

/* intro-vid ===============================================*/

#intro-vid {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

#intro-vid-content {
  position: relative;
  /* top: -25px; */
  text-align: center;
}

#vid-description {
  color: #007399;
}

#vid {
  margin: 3rem;
  box-shadow: 10px 10px 12px 5px rgba(0, 0, 0, 0.2);
}

/* something else ==================*/

#head-title {
  font-size: 3em;
  text-align: center;
  color: #fff;
}

#body-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 115, 153, 0.7), rgba(0, 115, 153, 0.7)), url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #007399;
  color: #fff;
  font-size: 1.3em;
  min-height: 500px;
}

#body-3-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: -25px;
}

/* .sub-body-3 {
  max-width: 500px;
} */

#body-4 {
  text-align: center;
  background: #fff;
  font-size: 1.3em;
  padding: 2rem;
  min-height: 500px;
}

#body-4-content {
  display: grid;
  grid-template-columns: 0.33fr 0.17fr 0.17fr 0.33fr;
  grid-template-rows: 0.5fr;
  grid-gap: 2rem;
  justify-content: space-around;
  position: relative;
  right: -25px;
}

#body-4-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#body-4-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#body-4-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#body-4-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

#body-4-5 {
  grid-column: 3 / 5;
  grid-row: 2 / 2;
}

.body-4-fa {
  font-size: 4em;
}

/* About Us ===================================*/

#about-us {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(153, 230, 255, 0.7), rgba(153, 230, 255, 0.7)), url("https://images.pexels.com/photos/630839/pexels-photo-630839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") fixed center;
}

#about-us-content {
  text-align: center;
  color: #007399;
  width: 60%;
  line-height: 1.5rem;
}

/* Services ===================================*/

.services-title {
  min-height: 200px;
  background: #007399;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-group-1 {
  min-height: 500px;
  background: #33ccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  text-align: center;
  width: 200px;
}

/* Work ===================================*/

.work-title {
  min-height: 200px;
  background: #99e6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-group {
  min-height: 500px;
  background: #33ccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blog/Admin =================================*/

#blog-posts-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-post {
  border-radius: 25px;
  padding: 2rem;
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin: auto;
  position: relative;
}

.blog-post:hover {
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.blog-post-link {
  text-decoration: none;
  color: #fff;
}

.blog-post-title {
  font-size: 1.3em;
}

.blog-vid-thumbnail {
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Blog =======================================*/

#blog-title-content {
  text-align: center;
}

#blog-title {
  background: linear-gradient(rgba(153, 230, 255, 0.5), rgba(153, 230, 255, 0.5)), url("https://images.pexels.com/photos/261579/pexels-photo-261579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center fixed;
  min-height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-posts {
  margin: 3rem 0;
}

#blog-posts-content {
  display: grid;
  grid-gap: 2rem;
}

/* Admin ====================================*/

.post-form {
  width: 60%;
  margin: auto;
}

.form-control {
  margin: 0 0 3rem 0;
}

#add-content {
  display: flex;
  align-content: center;
}

.btn {
  display: block;
  margin: auto;
}

.delete {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-cutoff {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Post ===========================================*/

.post-title {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

#post-content-text {
  color: #fff;
  font-size: 1.2em;
  line-height: 2rem;
  white-space: pre-line;
}

#post-vid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

#post-vid-content {
  position: relative;
  text-align: center;
}

.date {
  margin-bottom: 1rem;
  color: #fff;
}

/* Contact ===================================*/

.contact-title {
  min-height: 200px;
  background: #99e6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-group {
  min-height: 500px;
  background: #33ccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Call To Action =====================================*/

#cta-title {
  font-size: 2em;
  color: #fff;
}

#cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#cta-form {
  display: grid;
  grid-gap: 1rem;
}

#cta-best-time {
  margin: auto;
}

#cta-source {
  margin: auto;
}

.label {
  color: #fff;
  font-size: 1.4em;
  padding-right: 1rem;
}

/* Footer =====================================*/

#footer {
  background: linear-gradient(rgba(153, 230, 255, 0.7), rgba(153, 230, 255, 0.7)), url("https://images.pexels.com/photos/908290/pexels-photo-908290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* 204, 204, 255, 0.9 */
  background-color: #ccf;
  min-height: 300px;
}

#footer-content {
  display: flex;
  min-height: inherit;
  justify-content: space-between;
  align-items: center;
}
